
    <div  class="row justify-content-center" >
        <div class="col-8" *ngIf="jarInfo">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">名称</div>
                <div class="ui-g-12 ui-md-4">上传时间</div>
            </div>

        </div>
        <div class="col-8" *ngIf="jarInfo">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">{{jarInfo.fileName}}</div>
                <div class="ui-g-12 ui-md-4">{{jarInfo.uploadTime}}</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>上传jar包</h3>
            <p-fileUpload mode="basic" name="file" url="./upload/global"  auto="true" maxFileSize="204857600" (onUpload)="upload($event)"></p-fileUpload>
        </div>
    </div>
