<!-- jar包上传 -->
<div *ngIf="conf.type ==0">

</div>


<!-- 配置 -->
<div *ngIf="conf.type ==1">
    <h2>
        <button class="btn btn-primary float-right jh-create-entity" (click)="add()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>创建</span>
        </button>
    </h2>
    <div class="ui-g ui-fluid" *ngIf="conf">
        <div class="ui-g-12 ui-md-2"></div>
        <div class="ui-g-12 ui-md-8">

        </div>
        <div class="ui-g-12 ui-md-2"></div>
    </div>
    <div class="ui-g ui-fluid" *ngIf="conf">
        <div class="ui-g-12 ui-md-2"></div>
        <div class="ui-g-12 ui-md-8">
            <h3>请使用yaml格式在下面的文本中定义配置：</h3>
            <codemirror [(ngModel)]="conf.content.config" [config]="yamlConfig"></codemirror>
            <h2></h2>
            <h4>如有必要，请使用groovy语言在下面的文本中定义输出逻辑：</h4>
            <!-- 使用ngFor时，编辑器中的指针会消失，所以使用很水的方式实现 -->
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=1">
                <codemirror class="ui-g-12 ui-md-10"  [(ngModel)]="conf.content.code[0]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(0)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=2">
                <codemirror class="ui-g-12 ui-md-10"   [(ngModel)]="conf.content.code[1]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(1)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-1" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=3">
                <codemirror  class="ui-g-12 ui-md-10"  [(ngModel)]="conf.content.code[2]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(2)"
                        class="btn btn-danger btn-sm  ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=4">
                <codemirror class="ui-g-12 ui-md-10"   [(ngModel)]="conf.content.code[3]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(3)"
                        class="btn btn-danger btn-sm  ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=5">
                <codemirror  class="ui-g-12 ui-md-10"  [(ngModel)]="conf.content.code[4]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(4)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=6">
                <codemirror class="ui-g-12 ui-md-10"   [(ngModel)]="conf.content.code[5]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(5)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=7">
                <codemirror  class="ui-g-12 ui-md-10"  [(ngModel)]="conf.content.code[6]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(6)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>
            <div class="ui-g ui-fluid" *ngIf="conf.content.code.length >=8">
                <codemirror class="ui-g-12 ui-md-10"   [(ngModel)]="conf.content.code[7]" [config]="groovyConfig"></codemirror>
                <button type="button" (click)="delete(7)"
                        class="btn btn-danger btn-sm ui-g-12 ui-md-2" style="height: 40px">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>

            </div>
            <h3></h3>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2">
                    <button type="button" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>
                        &nbsp;<span>Cancel</span>
                    </button>
                </div>
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2">
                    <button type="button" (click)="save()"
                            class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>
                        &nbsp;<span>下一步</span>
                    </button>
                </div>
                <div class="ui-g-12 ui-md-2"></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-2"></div>
    </div>
</div>


<!-- sql -->
<div *ngIf="conf.type ==2">
    <div class="ui-g ui-fluid" *ngIf="conf">
        <div class="ui-g-12 ui-md-4"></div>
        <div class="ui-g-12 ui-md-4">
            <h3>请输入sql语句：</h3>
            <codemirror  [(ngModel)]="conf.content.config" [config]="sqlConfig"></codemirror>
            <h2></h2>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2">
                    <button type="button" class="btn btn-secondary" (click)="previousState()">
                        &nbsp;<span>上一步</span>
                    </button>
                </div>
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-2">
                    <button type="button" (click)="save()"
                            class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>
                        &nbsp;<span>下一步</span>
                    </button>
                </div>
                <div class="ui-g-12 ui-md-2"></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4"></div>
    </div>
</div>
